// COLORS
$primary-color: #ff9274;
$secondary-color: #8e0000;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;
$dark-grey: #272727;

$dark-blue-text: #272341; // For Headings
$white-text: #fff;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
